:root {

    /* colori  ------------------------------------------------------------------------------------ */
    --accento: #093096;
    --primario: #DEE8F2;
    --nero: black;
    --testo: #333333;
    --sfondo: white;
    --sfondo-grey: #fafafa;

    /* font-family -------------------------------------------------------------------------------- */
    --ff-mono: 'Roboto Mono', sans-serif;
    --ff-space: 'Space Mono', sans-serif;
}

/* FOCUS */

*:focus {
    outline: 3px solid var(--accento) !important;
    outline-offset: 3px;
    border: 0px !important;
    box-shadow: none !important;
}

/* GENERALI */

body {
    font-family: var(--ff-space);
    font-weight: 400 !important;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accento);
    font-family: var(--ff-mono);
    font-weight: 500 !important;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-family: var(--ff-space);
    font-weight: 400 !important;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

small {
    font-weight: 400;
    font-size: 0.8em;
}

/* NAV MENU */

nav {
    padding: 24px 24px;
    background-color: var(--sfondo);
    border-bottom: 1px solid var(--testo);
}

nav .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

nav .menu li a {
    font-family: var(--ff-space);
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--testo);
}

nav .menu li a:hover {
    color: var(--accento);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 7px;
}

nav .menu .active a {
    color: var(--accento);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 7px;
}

nav .menu li a:focus {
    color: var(--accento);
    font-weight: 700;
}

nav .logo {
    position: absolute;
    background-color: var(--sfondo);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 56px;
    z-index: 10;
}

nav .logo img {
    max-width: 32px;
    max-height: 32px;
}


/* FOOTER */

.my-footer {
    text-align: center;
    font-family: var(--ff-space);
}

footer .contatti{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    row-gap: 24px;
    justify-content: center;
    gap: 32px;
    margin-bottom: 32px;
}

footer a {
    line-height:24px;
    font-size: 1rem;
    font-family: var(--ff-mono);
    font-weight: 400;
    text-decoration: none;
    color: var(--accento);
}

footer a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 9px;
}

footer a:focus{
    font-weight: 700;
}

footer .crediti {
    font-family: var(--ff-mono);
    font-size: 0.8rem;
}

footer .crediti .copy{
    font-size: 1.4em;
}

footer .contatto img {
    height: 24px;
    margin-right: 10px;
    vertical-align: bottom;
}

footer .contatto{
    padding: 1rem;
}

/* CONTAINER */
.container {
    max-width: 1320px;
    padding: 16px;
    margin: auto;
}

/* HERO */

.hero {
    padding: 64px;
    text-align: center;
}

.hero .descrizione {
    font-size: 1.2rem;
}

/* CARD HOME*/

.elenco-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    margin: 40px auto;
}

.card-lavoro {
    margin: auto;
    max-width: 256px;
    border: 1px solid var(--nero);
    border-radius: 8px;
    padding: 16px;
}

.card-lavoro img {
    max-width: 40px;
    max-height: 40px;
}

.card-lavoro h3 {
    font-size: 1rem;
    margin-block-start: 8px;
}

.card-lavoro p {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.fifthbeat {
    font-family: var(--ff-space);
    text-decoration: underline;
    color: var(--nero);
}

.fifthbeat:hover {
    color: #ff8200;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

/* ACCENTO */
.accento {
    color: var(--accento);
}

/* UNDERLINE */
.underline {
    text-decoration: underline;
    text-decoration-thickness: 15px;
    text-decoration-skip-ink: none;
    text-underline-offset: -2px;
    text-decoration-color: var(--primario);
}

/* SKIP TO MAIN  ---------------------------------------------------------------------------------- */
.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 0.5rem;
    background-color: var(--accento);
    color: white;
    opacity: 0;
    font-family: var(--ff-mono);
    font-weight: 400 !important;
}

.skip-to-main-content-link:focus {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.skip-to-main-content-link:hover {
    color: white;
    font-weight: 700 !important;
}

/* PORTFOLIO */

.curriculum{
    font-family: var(--ff-space);
    text-decoration: underline;
    color: var(--nero);
}

.curriculum:hover {
    color: var(--accento);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

.curriculum:visited{
    color: var(--accento);
}

/* CARD PORTFOLIO */

.elenco-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5rem;
}

.card-portfolio {
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    border: 1px solid var(--nero);
    border-radius: 10px;
    padding: 1rem;
}

.card-portfolio h3 {
    font-size: 1.2rem;
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    color: var(--nero);
}

.card-portfolio .download{
    text-align: right;
}

.card-portfolio h4 {
    font-size: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--nero)
}

.card-portfolio p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-portfolio a {
    font-size: 0.9rem;
    font-family: var(--ff-space);
    font-weight: 300;
    text-decoration: none;
    color: var(--testo);
}

.card-portfolio a:hover {
    font-family: var(--ff-space);
    color: var(--nero);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
}

.napulitanu{
    text-decoration-color: rgba(41,82,52,0.3);
}

.torvergata{
    text-decoration-color: rgba(0,124,52,0.3);
}

.parrocchia{
    text-decoration-color: rgba(250,163,25,0.3);
}

.sala-lan{
    text-decoration-color: rgba(193,19,47,0.3);
}